<meta charset="utf-8">
<title>MUFFIN STORE</title>
<!-- ================ FONTS ================ -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Work+Sans:400,700" rel="stylesheet">
<!-- ================ STYLES ================ -->
<link rel="stylesheet" href="/css/styles.css">
