<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BUDGTR</title>
    <!-- ========= SKELETON & NORMALIZE CSS ========= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h1>Add New Item</h1>
      <form action="/budgets" method="post">
        <input type="text" name="date" placeholder="date" />
        <input type="text" name="name" placeholder="name" />
        <input type="number" name="amount" placeholder="amount"/>
        <input type="text" name="from" placeholder="from" />
        <input type="submit" value="Create">
      </form>
    </div>
  </body>
</html>
