/* ====================== */
/*      VARIABLES         */
/* ====================== */
:root {
  --font: 'Work Sans', calibri;
  --beige: #ebe9de;
  --yellow: #FFC471;
  --grey: #E8E9EB;
  --dark-grey: #444;
  --blue: #A1B5D8;
  --pink: #FF5E6C;
}
/* ====================== */
/*        GENERAL         */
/* ====================== */
body {
  font-family: 'Work Sans', calibri;
  color: var(--dark-grey);
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
}
/* ====================== */
/*        SIDEBAR         */
/* ====================== */
aside {
  width: 15em;
  min-height: 100vh;
  background: var(--beige);
}
.muffin-icon {
  width: 7.5em;
  height: 7.5em;
  background: var(--blue);
  padding: 1em;
  margin: 3em auto 1em auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.muffin-icon img {
  width: 90%;
}
aside h1 {
  text-align: center;
  color: var(--pink);
}
.add-new {
  display: block;
  width: 80%;
  background: var(--yellow);
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: whitesmoke;
  letter-spacing: 1px;
  box-shadow: 2px 2px var(--blue);
}
.add-new:hover {
  background: var(--blue);
  box-shadow: 2px 2px var(--yellow);
}
/* ====================== */
/*         MAIN           */
/* ====================== */
main {
  width: calc(100% - 18em);
  margin-top: 2em;
  padding: 0 2em;
}
/* ====================== */
/*         INDEX          */
/* ====================== */
.index {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.product {
  width: 30%;
  height: 15em;
  background: var(--grey);
  padding: 0.5em 1em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px var(--blue);
  overflow: auto;
}
.product h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--pink);
}
.product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.product h3 {
  font-size: 0.9em;
  color: var(--dark-grey);
}
/* ====================== */
/*         SHOW           */
/* ====================== */
.individual-product {
  background: var(--grey);
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px var(--blue);
}
.individual-product img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}
.individual-product h2 {
  color: var(--pink);
  text-transform: uppercase;
  font-size: 2em;
}
.individual-product h3 {
  color: var(--pink);
}
.product-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 0 auto;
}
.buy-button {
  background: var(--yellow);
  border: 0px;
  padding: 1em;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}
.buy-button:hover {
  cursor: pointer;
  background: var(--blue);
}
.stock strong {
  color: var(--blue);
}
.desc {
  background: var(--dark-grey);
  color: whitesmoke;
  width: 250px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}
.edit-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  color: var(--pink);
}
/* ====================== */
/*         FORMS          */
/* ====================== */
.individual-product input {
  display: block;
  width: 50%;
  margin: 0.5em auto;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 5px;
}
.individual-product label {
  font-weight: 900;
  color: var(--blue);
  text-transform: uppercase;
  display: block;
  margin: 0.8em 0;
}
.individual-product input[type="submit"] {
  width: 55%;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  background: var(--yellow);
  color: white;
}
.individual-product input[type="submit"]:hover {
  background: var(--pink);
  cursor: pointer;
}
